/* Preloader
============================================================================================ */
.preeloader{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 999;

    .loader{
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
          
          span {
            width: 16px;
            height: 18px;
            background-color: #C2C2D6;
          
            border-radius: 100%;
            display: inline-block;
            -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            animation: sk-bouncedelay 1.4s infinite ease-in-out both;
          }
          
          .bounce1 {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
          }
          
          .bounce2 {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
          }
          
          @-webkit-keyframes sk-bouncedelay {
            0%, 80%, 100% { -webkit-transform: scale(0) }
            40% { -webkit-transform: scale(1.0) }
          }
          
          @keyframes sk-bouncedelay {
            0%, 80%, 100% { 
              -webkit-transform: scale(0);
              transform: scale(0);
            } 40% { 
              -webkit-transform: scale(1.0);
              transform: scale(1.0);
            }
        }
    }
}
.full-wrapper{
    overflow: hidden;
}
/* chart-area-wrap css
============================================================================================ */
.chart-area-wrap {
    padding: 20px 0 0;
    overflow: hidden;
    height: calc(100% - 146px);
    position: relative;

    &::after{
        content: '';
        position: fixed;
        width: 100%;
        height: 31px;
        @include gradient(360deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
        bottom: 0;
        left: 0;
    }
    @media (max-width: 1240px){
        overflow: auto;
    }

    @media (max-width: 1400px), (max-height: 800px) {
        height: auto !important;
    }

    .chart-title {
        font-size: 16px;
        border-bottom: 2px solid $title-color;
        padding-bottom: 8px;
        margin-bottom: 10px;
        position: relative;

        
        .right-bar-icon{
            opacity: 0;
            @include transition();
            cursor: pointer;
        }
        &:hover .right-bar-icon{
            opacity: 1;
        }

        .hover-action{
            span.text{
                display: inline-block;
            }
            .view-item{
                display: none;
                color: $primary-color2;

                a{
                    color: $primary-color2;
                }
                svg{
                    cursor: pointer;
                }
            }
            &:hover{
                span.text{
                    display: none;
                }
                .view-item{
                    display: inline-block;
                }
            }
        }
    }

    .chart-title-2 {
        border-bottom: 2px solid $title-color;
        padding-bottom: 8px;
        margin-bottom: 10px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title-question-icon{
            opacity: 0;
            margin-left: 3px;
            @include transition();
        }
        &:hover .title-question-icon{
            opacity: 1;
        }

        h6 {
            font-size: 16px;
            margin-bottom: 0;
        }

        p {
            color: $primary-color;
            margin-bottom: 0;
        }
    }

    .left-chart-mid {

        .chart-items {
            display: flex;
            margin: 10px 0 5px;
            overflow: auto;

            .single-chart-number {
                position: relative;
                padding-right: 20px;
                padding-left: 10px;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;

                    &:after {
                        display: none;
                    }
                }

                &:after {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 1px;
                    height: 90%;
                    background: #C2C2D6;
                    content: "";
                }

                p {
                    font-size: 12px;
                    font-weight: 700;
                    margin-bottom: 5px;
                }

                h6 {
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }

        h6 {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
    }

    .left-chart-bottom {

        .left-bottom-list-wrap {
            overflow-y: scroll;
            max-height: calc(100vh - 790px);
            min-height: 90px;

            @media (max-width: 1400px), (max-height: 800px) {
                max-height: calc(100vh - 524px) !important;
                min-height: auto;
            }
            
            @media (max-width: 1400px){
                max-height: calc(100vh - 690px);
                min-height: 97px;
            }
            
            @media (max-width: 1240px){
                max-height: 167px;
            }
            @extend .Custom_Scrollbar;

            .single-footer-chart-list {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                
                @media (max-width: 1400px){
                    margin-bottom: 5px;
                }
                @media (max-width: 1240px){
                    margin-bottom: 10px;
                }                

                .time {
                    margin-bottom: 0;
                    font-size: 12px;
                }

                h6 {
                    margin-bottom: 0;
                    margin-left: 15px;
                    font-weight: 400;
                    @include transition();
                    cursor: pointer;

                    &:hover{
                        color: $primary-color2;
                    }
                }
            }
        }
    }

    .left-chart-top-wrap,
    .right-top-chart,
    .right-mid-chart-left {
        margin-bottom: 30px;
    }
    
    .right-top-chart{
        max-height: 155px;
        overflow: hidden;
    }

    .right-top-chart-table {
        overflow-x: auto;

        &.max table td:nth-child(2){
            min-width: 260px;
        }

        .table-cover {
            width: 100%;

            .table-header-sort-title {
                .single-sort-title {
                    .col-title {
                        font-size: 12px;
                        font-weight: 700;
                        white-space: nowrap;
                        padding: 0px;
                        
                        .sort{
                            position: relative;
                            display: inline-block;
                            width: 10px;

                            &__up{
                                cursor: pointer;
                                position: absolute;
                                top: -9px;
                                left: 0;

                                &.ascending path{
                                    stroke: #000;
                                    fill: #000;
                                }
                            }
                            &__down{
                                cursor: pointer;
                                position: absolute;
                                top: -3px;
                                left: 0;
                            }
                        };
                    }
                }
            }

            .single-content-items {
                border-radius: 4px;
                @include transition();

                &:hover{
                    background: rgba(#00A6CB, 0.2);                    
                }
                td {
                    font-size: 12px;

                    &.custom-size {
                        font-size: 16px;
                        color: #000000;
                        white-space: nowrap;

                        @media (max-width: 1200px){
                            padding: 0px 5px;
                        }
                        span {
                            color: #8A8A8A;
                        }
                    }

                    &.colored {
                        font-size: 16px;
                        color: $primary-color;
                    }

                    .rating-bars {
                        min-width: 60px;

                        span {
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            background: #C2C2D6;
                            display: inline-block;

                            &.active {
                                background: $primary-color;
                            }
                        }
                    }
                }
            }
        }
    }
    .table-with-search{
        font-size: 12px;
        font-weight: 700;

        .input-group{
            background: rgba(#C2C2D6, 0.3);
            border: 1px solid transparent;
            border-radius: 4px;
            overflow: hidden;
            height: 30px;
            display: flex;
            align-items: center;
            @include transition();
            @include transform(translateY(1px));

            &:hover{
                border-color:$primary-color2
            }
            .icon svg{
                line-height: 14px;
                width: 14px;
                margin-left: 10px;
            }
            .search_button{
                background-color: $primary-color2;
                color: white;
                font-family: $primary-font;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                padding-left: 10px;
                padding-right: 10px;
                border: 1px solid $primary-color2;
                border-radius: 4px;
                margin: 0;
            }
            
            .search_icon{
                background-color: transparent;
                font-family: $primary-font;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 28px;
                padding-left: 10px;
                padding-right: 10px;
                border: none;
                margin: 0;
                cursor: pointer;
                display: flex;
                align-items: center;

                svg path{
                    stroke: #C2C2D6;
                }

                &:hover svg path{
                    stroke: $primary-color2;
                }
            }


            .form-control{
                background-color: transparent;
                height: 26px;
                position: relative;
                border: 0;

                &:focus{
                    outline: none;
                    border: 0;
                }
            }
        }

        .tableCover{
            max-height: calc(100vh - 690px);
            overflow-y: scroll;
            padding-right: 20px;        
            min-height: 220px;

            #searchTable, #searchTable2{
                width: 100%;
            }

            @media (max-width: 1400px){
                max-height: 185px;
                min-height: 180px;
            }
            @media (max-width: 1400px), (max-height: 800px) {
                max-height: calc(100vh - 453px) !important;
                min-height: auto;
            }

            @media (max-width: 1240px){
                max-height: 261px;
                min-height: 180px;
            }
        }

        td {
            border-bottom: 1px solid #C2C2D6;
            padding: 4px 0;
            
            .custom-text {
                font-family: $primary-font;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                color: #000000;
                @include transition();

                &:hover{
                    color: $primary-color2;
                }
            }
            
            span {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                color: #8A8A8A;
                margin: 4px 0px;
                display: inline-block;
            }
        }
    }


    .right-mid-chart {
        .right-top-chart-table {
            height: 184px;
            overflow-y: scroll;
            @extend .Custom_Scrollbar;
            overflow-x: hidden;

            &:hover{
                overflow-x: auto;
            }
        }

        .right-mid-chart-right {

            .chart-cover{
                padding-bottom: 55px;
            }

            .nav-tabs {
                border: none;
                display:  flex;

                .nav-item {
                    display: inline-block;
                    padding-right: 5px;
                    padding-left: 5px;
                    margin: 0;
                    border-bottom: 2px solid #D1D1DE;

                    &:first-child {
                            padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                        .nav-link {
                            margin-right: 0;
                        }
                    }
                }

                .nav-link {
                    color: #1c1b20;
                    font-weight: 700;
                    font-size: 16px;
                    text-transform: uppercase;
                    border: none;
                    padding: 0;
                    position: relative;
                    background: transparent;

                    &.active {
                        color: $primary-color2;
                        ~{
                            border-bottom-color: $primary-color2;
                        }

                        &:after {
                            opacity: 1;
                            visibility: visible;
                            width: 100%;
                        }
                    }

                    &:after {
                        position: absolute;
                        left: 0;
                        bottom: -2px;
                        height: 2px;
                        width: 0;
                        content: "";
                        background: $primary-color2;
                        opacity: 0;
                        visibility: hidden;
                        @include transition();
                    }

                    &:hover {
                        color: $primary-color2;
                    }
                }
            }

            .tab-content {
                margin-top: 80px;

                .bars-panel {
                    position: relative;
                    height: 20px;
                    background: #ddd;
                    background: linear-gradient(90deg, #33C96F 0%, #FFBE40 51.75%, #FF0100 100%);

                    .single-bars-item {
                        display: inline-block;
                        position: absolute;
                        top: -24px;
                        left: 10%;
                        cursor: pointer;

                        &.bars-item2 {
                            left: 30%;
                        }

                        &.bars-item3 {
                            left: 55%;
                            
                            &:hover {
                                .popover__content {
                                    left: -70px;
                                }
                            }
                        }

                        &.text-bar-big {
                            left: 35%;
                            top: -50px;

                            h5 {
                                font-size: 16px;
                                position: relative;
                                margin-bottom: 10px;

                                &:after {
                                    position: absolute;
                                    left: 50%;
                                    top: 25px;
                                    height: 25px;
                                    width: 3px;
                                    content: "";
                                    background: #E9BF45;
                                    margin-left: -1px;
                                }
                            }
                        }

                        &.text-bar {
                            bottom: -47px;
                            left: 30%;
                            top: auto;

                            &.text-bar2 {
                                left: 60%;
                                bottom: -62px;

                                p {
                                    padding-top: 40px;
                                    white-space: nowrap;
                                    &:after {
                                        position: absolute;
                                        left: 50%;
                                        top: 0;
                                        height: 15px;
                                        width: 2px;
                                        content: "";
                                        background: #FF591E;
                                        margin-left: -1px;
                                    }
                                }
                            }

                            p {
                                font-size: 12px;
                                color: $text-color;
                                position: relative;
                                margin-bottom: 0;
                                padding-top: 25px;

                                &:after {
                                    position: absolute;
                                    left: 50%;
                                    top: 0;
                                    height: 15px;
                                    width: 2px;
                                    content: "";
                                    background: #CCC14C;
                                    margin-left: -1px;
                                }
                            }
                        }

                        .tooltip-trigger {
                            margin-bottom: 5px;
                            font-size: 12px;
                            color: $title-color;
                            position: relative;

                            &:after {
                                position: absolute;
                                left: 50%;
                                bottom: -2px;
                                height: 6px;
                                width: 2px;
                                content: "";
                                background: #B6C251;
                                margin-left: -1px;
                            }
                            
                            &.trigger-1:after{
                                background: #6DC662;
                            }
                            &.trigger-2:after{
                                background: #B6C251;
                            }
                            &.trigger-3:after{
                                background: #FFAC3A;
                            }
                        }

                        h6 {
                            font-size: 12px;
                            font-weight: 400;

                        }

                        .popover__content {
                            opacity: 0;
                            visibility: hidden;
                            position: absolute;
                            background: #fff;
                            padding: 12px;
                            left: 100%;
                            top: 50%;
                            // @include transition();
                            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 4px 16px rgba(0, 0, 0, 0.16);
                            border-radius: 4px;
                            width: 244px;
                            z-index: 2;

                            p {
                                font-size: 12px;
                                line-height: 18px;
                                margin-bottom: 0;
                                color: $title-color;
                            }
                        }

                        &:hover {
                            .popover__content {
                                opacity: 1;
                                visibility: visible;
                                left: 107%;
                                z-index: 999;
                            }
                        }
                    }
                }
            }
        }
    }
}

.btn-filter-item{
    background-color: transparent;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 20px;
}
.filter-item{
    width: 100%;
    position: absolute;
    background-color: #fff;
    border-bottom: 1px solid $primary-color2;
    z-index: 9999;
    height: 64px;
    top: 0;
    left: 0;

    &.collapse.show{
        display: block !important;
    }

    &:before{
        width: 100%;
        height: 100%;
        background-color: rgba(#fff, 0.8);
        content: '';
        position: fixed;
    }

    .form-control{
        height: auto;
        margin: 5px 0;
        border: 0;
        font-size: 32px;
        line-height: 40px;
        @include placeholder{
            color: #C2C2D6;
        }
    }
}
.custom-modal {
    background-color: rgba(#fff, 0.6);
    .modal-dialog{
        min-width: 640px !important;
        margin: 160px auto;
        border-radius: 20px;

        @media (max-width: 678px){
            max-width: 100% !important;
            min-width: auto !important;
        }

        .modal-content{
            background-color: #000;
            color: #fff;
            padding: 0 20px;
            font-size: 16px;
            line-height: 24px;

            p{
                font-size: 16px;
                line-height: 24px;
            }
        }
        h2,h3,h4{
            color: #fff;
            margin-bottom: 0;
        }
        .modal-header{
            border: none;
            padding-top: 20px;
            padding-bottom: 0;            
        }

        .close{
            transform: translate(40px,-60px);
        }
    }
}
.left-chart-wrap{
    min-width: 530px !important;

    @media (max-width: 1300px){
        min-width: auto !important;
    }
}
.right-mid-chart-left, .right-mid-chart-right, .right-search-chart{
    min-width: 378px !important;
    @media (max-width: 1300px){
        min-width: auto !important;
    }
}
@media (max-width: 991px){
    .left-chart-bottom,.right-search-chart, .right-mid-chart-right{
        margin-bottom: 30px;
    }
}

/**** Dark Theme 
************************************************************************/

body[data-theme='dark']{
    background-color: #000000 !important;
    color: #fff;
    h1, h2, h3, h4, h5, h6, .custom-text, .custom-size, .form-control,.text-black, .tooltip-trigger{
        color: #FFFFFF !important;
    }  
    .form-control::placeholder{
        color: #fff;
    }    
    .single-content-items, .col-title, .single-chart-number p, .single-footer-chart-list .time{
        color:  #8A8A8A;
    }
    .preeloader,.chart-area-wrap{
        background-color: #000000 !important;
        color: #fff;
    }
    .chart-area-wrap::after{
        @include gradient(360deg, #000 50%, rgba(255, 255, 255, 0) 100%);
    }
    .header-bottom{
        background-color: #252525;
        box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);

        &:hover{
            box-shadow: inset 0px -1px 0px $primary-color2;
        }
        
    .isColsed .close-text span{
            display: block;
            color: #8A8A8A;
        }
    }
    .chart-title, .chart-title-2{
        border-bottom-color: #fff;
    }
    .single-bars-item h6{
        color: #000 !important;
    }
    .btn{
        &-settings:before, &-search:after{
        background-color: rgba(#000, 0.7);
        min-width: 40px;
        }
    }
    .filter-item{
        background-color: #a9a9a9;
        
        .form-control{
            background-color: #333333;
            color: white;
        }
        &:before{
            background-color: rgba(#000, 0.7);            
        }
    }
    .settings-tab-overlay{
        background-color: #000;
    }
    .header-bottom .single-items.h3{
        color:#fff;
    }
    .right-mid-chart-right .nav-tabs{
        border-color: #fff;
        padding: 0;

        .nav-link{
            color: white !important;
        }
    }
    
    .custom-modal {
        background-color: rgba(#000, 0.6);
        .modal-content{
            background-color: #fff;
            color: #000;
        }
        h2,h3,h4{
            color: #000 !important;
        }
    }

    .dd.ddcommon:after, .dd.ddcommon .ddTitle{
        color: #fff;
    }
    #SuggestionFilter{
        background-color: rgb(37, 37, 37);
        &::after, &::before{
            background-color: rgb(37, 37, 37);
        }

        a{
            color: #fff;
        }
    }
}
