
/*font Variables*/
$primary-font: 'PT Sans Caption', sans-serif;
$lato: 'PT Sans Caption', sans-serif;
$muller: 'Muller Thin DEMO';

/*Color Variables*/
$primary-color	: #08B64D;
$primary-color2	: #00A6CB;
$title-color	: #000000;
$text-color		: #8A8A8A;

@font-face {
    font-family: 'Muller Thin DEMO';
    src: url('../fonts/MullerThinDEMO.woff2') format('woff2'),
        url('../fonts/MullerThinDEMO.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

